<li [ngClass]="{'list-group-item': true,
                'list-group-item-success': PostListItemLoveIts > 0,
                'list-group-item-danger': PostListItemLoveIts < 0}">
    <h4 [ngStyle]="{color: getColor()}">Post : {{ PostListItemTitle }}</h4>
    <p [ngStyle]="{color: getColor()}">{{ getContent() }}</p>
</li>

<button class="btn btn-success"
        (click)="onLoveIts()">J'aime
</button>

<button class="btn btn-danger"
        (click)="onDontLoveIts()">Je n'aime pas
</button>

<p [ngStyle]="{color: getColor()}">Compteur : {{ getLoveIts() }}</p>
<p [ngStyle]="{color: getColor()}">Date de création : {{ getCreated_at() }}</p>